<%= form_for([@room, @room.reviews.new]) do |f| %>
	
	<div class="user_stars"></div>
	<%= f.text_field :comment %>

	<%= f.hidden_field :room_id, value: @room_id %>

	<div class="actions">
		<%= f.submit %>
	</div>


<% end %>

<script>
	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
</script>